{% extends "base.html" %} {% block content %}
<div>
  <h3>{{pet.name}}</h3>
  <p>{{pet.species}}</p>
  {% if pet.breed %}
  <p>Breed : {{pet.breed}}</p>
  {% endif %} {% if pet.age %}
  <p>Age : {{pet.age}}</p>
  {% endif %} {% if pet.sex %}
  <p>Age : {{pet.sex}}</p>
  {% endif %} {% if pet.vaccinations.all %}
  <p>vaccinations for :</p>
  <ul>
    {% for vaccination in pet.vaccinations.all %}
    <li>{{ vaccination.name }}</li>
    {% endfor %}
  </ul>
  {% endif %} {% if pet.description %}
  <h4>Description</h4>
  <p><i>{{pet.description}}</i></p>
  {% endif %}
  <p>Submission on : {{pet.submission_date | date:"M d Y"}}</p>

  <button>
    <a href="{% url 'home' %}"> Back</a>
  </button>
</div>
{% endblock %}
